.page-header {
    position: absolute;
    width: 100%;
    z-index: 2;
}
.navigaytion-list {
    padding-top: 40px;
    display: flex;
    justify-content: center;

}
.navigation-list-item:not(:last-child) {
    margin-right: 85px;
}
.navigation-link {
   color: $main-color
}